.manifest {
  left: 80%;
  --scale: .65;
  --tilt: -30deg;
  --bend-x: -50deg;
  --bend-y: 50deg;
  animation-duration: 15s;
  animation-delay: -2s;
  z-index: 0;
}

/*hover background*/
.space:has(.manifest:hover),
.space:has(.manifest:target) {
  background: rgb(232, 240, 255)
}

/*MOODBOARD*/

.manifest-moodboard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
    transition: opacity 0.1s ease;
}

/* Activate manifest board */
.space:has(.manifest:target) .manifest-moodboard { 
    opacity: 1; 
    pointer-events: auto; 
}


/* Severance-specific tweaks */
.manifest-moodboard .img1 { position: absolute; height: 100vh; opacity: 0.9; top: 0; left: 0; }

@media(max-width:800px) {
  .manifest-moodboard .img1 {left: -60%; }
}

@media(max-width:600px) {
  .manifest-moodboard .img1 {left: -120%}
}

/* Escape word base */
.manifest-moodboard .escape-word {
  position: absolute;
  font-size: 2vw;
  color: #163f38;
  font-weight: 900;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 0.15em;
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.manifest-moodboard .escape-word:hover {
  opacity: 0.5;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration:dotted;
  color:#1e1767;
  transform: scale(1.05);
}

.manifest-moodboard .home {
  position: absolute;    
  text-align: center;
  bottom: 5%;
  right: 30%;
}
