.wandavision {
  left: 60%;
  --scale: .65;
  --tilt: 20deg;
  --bend-x: 40deg;
  --bend-y: -45deg;
  animation-duration: 17s;
  animation-delay: -10s;
}

/*hover background*/
.space:has(.wandavision:hover),
.space:has(.wandavision:target) {
  background: rgb(158 35 30)
}

/*MOODBOARD*/

.wandavision-moodboard {
    opacity: 0;
    z-index: 1;
    pointer-events: none;
    transition: opacity 0.1s ease;
}

/* Activate wandavision board */
.space:has(.wandavision:target) .wandavision-moodboard { 
    opacity: 1; 
    pointer-events: auto; 
}


/* Severance-specific tweaks */
.wandavision-moodboard .img1 { position: absolute; height: 100vh; opacity: 0.9; top: 0; left: 0; }
.wandavision-moodboard .img2 { position: absolute; bottom: 0; right: 0; height: 30vh; }
.wandavision-moodboard .img3 { position: absolute; top: 0; right: 0; height: 20vw; }
.wandavision-moodboard .img4 { position: absolute; bottom: 25%; left: 5%; height: 50vh; }
.wandavision-moodboard .img5 { position: absolute; bottom: 0; left: 25%; height: 50vh; }
.wandavision-moodboard .img6 { position: absolute; bottom: 50%; right: 50%; height: 50vh; }


/* Escape word base */
.wandavision-moodboard .escape-word {
  position: absolute;
  font-size: 5vw;
  color: #163f38;
  font-weight: 900;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 0.15em;
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.wandavision-moodboard .escape-word:hover {
  opacity: 0.5;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:#7da17e;
  transform: scale(1.05);
}


.wandavision-moodboard .reality {
  position: absolute;    
  top: 20%;
  left: 8%;
}

.wandavision-moodboard .home {
  position: absolute;    
  bottom: 15%;
  right: 12%;
}
