.blackmirror {
  left: 0%;
  --scale: .65;
  --tilt: 2deg;
  --bend-x: 50deg;
  --bend-y: -30deg;
  animation-duration: 20s;
  animation-delay: -12s;
  z-index: 0;
}

.blackmirror:target {
  mix-blend-mode:difference;
}

/*hover background*/
.space:has(.blackmirror:hover),
.space:has(.blackmirror:target) {
  background: rgb(70 33 60)
}

/*MOODBOARD*/

.blackmirror-moodboard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
    transition: opacity 0.1s ease;
}

/* Activate black mirror board */
.space:has(.blackmirror:target) .blackmirror-moodboard { 
    opacity: 1; 
    pointer-events: auto; 
}


/* Severance-specific tweaks */
.blackmirror-moodboard .img1 { position: absolute; height: 150vh; width:120vw; opacity: 0.9; top: -50%; left: 0;}

@media (max-width: 800px) {
  .blackmirror-moodboard .img1 { position: absolute; height: 100vh; width: 100vw; opacity: 0.9; top: -10%; left: 0%; }
}

/* Escape word base */
.blackmirror-moodboard .escape-word {
  position: absolute;
  color: #00ffd5;
  font-weight: 900;
  letter-spacing: 0.15em;
  text-decoration: none;
  opacity: 0.7;
  transition: opacity 0.4s ease, transform 0.4s ease;
  mix-blend-mode: difference;
}

.blackmirror-moodboard .escape-word:hover {
  opacity: 0.3;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:#480048;
  transform: scale(1.05);
}


.blackmirror-moodboard .reality {
  position: absolute;   
  width: 10vw; 
  font-size: 9vw;
  top: 10%;
  left: 8%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.blackmirror-moodboard .home {
  position: absolute;    
  bottom: 5%;
  right: 5%;
  font-family: cursive;
}