.script {
  position: absolute;
  top: -90%;
  left: 0;
  z-index: 2;

  width: calc(420px * var(--scale));
  height: calc(560px * var(--scale));
  padding: calc(2.6rem * var(--scale)) calc(2.3rem * var(--scale));

  background: #ffffff;
  color: #111;

  overflow: hidden; 

  box-shadow:
    0 calc(25px * var(--scale)) calc(60px * var(--scale)) rgba(0,0,0,0.35),
    0 calc(6px * var(--scale)) calc(20px * var(--scale)) rgba(0,0,0,0.25);

  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  transition:
    transform 0.55s cubic-bezier(.2,.8,.2,1),
    box-shadow 0.45s ease,
    opacity 0.3s ease;
}

.script h1 {
  margin-top: 0;
  font-size: 1.2rem;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
  color: black;
}

.character {
  text-align: center;
  margin: 1.2rem 0 0.2rem;
  font-weight: bold;
  letter-spacing: 0.08em;
}

.dialogue {
  max-width: 65%;
  margin: 0 auto 1rem;
  text-align: center;
}

.scene {
  font-size: 0.95rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  line-height: 1.6;
  text-align: end;
}

.script p {
  font-size: 0.95rem;
  line-height: 1.6;
}

/*Make script page a link*/
.script a {
  display: block;
  color: inherit;
  text-decoration: none;
  height: 100%;
}

.space:has(.script:target) .reset {
  pointer-events: auto; /* now it can be clicked */
}

/*Script when it's by itself after click*/
.script:target {
  animation: none;
  z-index: 40;
  mix-blend-mode:overlay;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  width: 300px;
  height: 388px;              
  padding: 1.5em 1.2rem;
  
  overflow-y: auto;
  overflow-x: hidden;           

  opacity: 1;

  box-shadow:
    0 40px 80px rgba(0,0,0,0.45),
    0 12px 30px rgba(0,0,0,0.35);
}

.script:target a {
  pointer-events: none;
}

/*smaller screen*/
@media (max-width: 600px) {
  .script {
    width: 180px;
    height: 230px;         
    padding: 1rem 1rem;
    font-size: 0.8rem;
  }

  .script:target {
    width: 200px;
    height: 250px;
    padding: 1rem 1rem;
    font-size: 0.85rem;
  }
}
  