/*BASE*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Courier New", monospace;
  background: rgb(39, 1, 1);

  transition: background 0.6s ease;
}

h2 {
  position: absolute;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:  7vw;
  color: white;
  right: 2%;
  bottom: -4vw;
  opacity: 70%;
  z-index: 39;

  transition: opacity 0.4s ease;

}


/*BACKGROUND*/
.space {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.space::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 150vw;
  background-image: url('https://t3.ftcdn.net/jpg/01/98/80/00/360_F_198800041_YXfy6REnjNVlGmiEcDuKdyuTX1TDMBZl.jpg');
  mix-blend-mode:soft-light;
  pointer-events: none;
  z-index: 40;

  transition: opacity 0.4s ease;
}


.space::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at center,
    rgba(0,0,0,0) 40%,
    rgba(0,0,0,0.6) 100%);
  pointer-events: none;
}

/* Small screens: phones */
@media (max-width: 600px) {
  .script {
    width: 180px;
    height: 230px;         /* 8.5x11 ratio */
    padding: 1rem 1rem;
    font-size: 0.8rem;
  }

  .script:target {
    width: 200px;
    height: 250px;
    padding: 1rem 1rem;
    font-size: 0.85rem;
  }
}

body:has(.script:target) h2 {
  opacity: 0;
  pointer-events: none;
}
